body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    height: 500px;
    width: 300px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    background-color: #4a90e2;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#chat-box {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.user-message ,p {
    background-color: #e1ffc7;
    color: #333333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
    max-width: 80%;
    word-wrap: break-word;
}

.input-container {
    display: flex;
    border-top: 1px solid #dddddd;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    
}

#user-input:focus {
    background-color:#E1FFC7; /**/
    color: #333333;
}

button {
    background-color: #4a90e2;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}
#send-button
{
    font-family: Arial, sans-serif;
    color: #ffffff;
}
